body {
   margin: 0;
   text-align: center;
   overflow-x: hidden;
   font-family: 'Montserrat', sans-serif;
   /* font-family: 'Poppins', sans-serif; */
   font-size: 1rem;
   background-color: #ECECEC;
}

body::-webkit-scrollbar {
    display: none;
}

h2 {
   color: #66BFBF;
   font-size: 2.7rem;
   font-weight:500;
   margin-bottom: 1em;
   font-family: 'Noto Sans', sans-serif;
}

/* navbar */
.navbar .navbar-brand {
   font-weight: 600;
   color: #68B0AB;
}

nav .navbar-nav li a{
  color: #4bb09a !important;
  }

.nav-item {
   padding: 0 0.8vw;
}

.nav-link {
   font-weight: 400;
}

.container-fluid {
   padding-right: 10vw;
   padding-left: 10vw;
}
/* navbar */

.bg {
   overflow: hidden;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.hrdot {
    border-top: 0.5rem dotted;
    border-color: grey;
    background-color: #FFFFFF;
    width: 4.6rem;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    margin: 0 auto 0 auto;
}

/* Profile */

.profile {
   overflow: hidden;
   display: block;
}

.profileheading {
   margin-top: 5vw;
   padding-bottom: 5vw;
}

.parent-div {
   height: 50vw;
}

.img-div{
   position: relative;
   left: 13vw;
   width: 30vw;
   z-index: 1;
}

.detials-div {
   position: relative;
   left: 19vw;
   bottom: 25vw;
   width: 70vw;
   background-color: #eaeaea;
}

.about-div {
   position: relative;
   left: 30vw;
   top: 3.5vw;
   width: 35vw;
   padding-bottom: 20vw;
}

.about-heading {
   font-size: 1.3rem;
   color: #68B0AB;
   text-align: left;
   margin-bottom: 1vw;
}

.about-para {
   text-align: left;
   text-align: justify;
   text-justify:inter-word;
   line-height: 2rem;
}

.blue-color {
   color: #66bfbf;
}

.resume-btn {
   margin-top: 1.5vw;
}

.btn-outline-dark:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active, .open>.dropdown-toggle.btn-outline {
    color: #fff;
    background-color: #66bfbf;
}

.box {
   box-shadow:
   0 2px 2.2px rgba(0, 0, 0, 0.034),
   0 3.125px 5.3px rgba(0, 0, 0, 0.048),
   0 6.25px 10px rgba(0, 0, 0, 0.06),
   0 12.5px 17.9px rgba(0, 0, 0, 0.072),
   0 25px 33.4px rgba(0, 0, 0, 0.086),
   0 50px 80px rgba(0, 0, 0, 0.12);
}

.rounded {
   border-radius: 0.5vw !important;
}

/* Profile */

.col-img {
   width: 18vw;
}

.circleimage {
   border-radius: 50%;
   border: 0.521vw solid;
   border-color: #68B0AB;
}

.top-container {
   margin: 0;
   height: 46.45vw;
   /*
   background-color: #E4F9F5;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;*/
}

.bgheading {
   position: relative;
   top: 17%;
}

.bgname {
   color: #66BFBF;
   margin: 0;
   font-size: 600%;
   margin-bottom: 0;
   font-family: 'Sacramento';
}

.progbg {
   position: absolute;
   height:7vw;
   width: 10vw;
   bottom:8%;
   right:5%;
}

.profilebg {
   padding-top: 8%;
}

.profiletable {
   width:100%;
   margin-bottom:3em;
}

.profiletitle {
   color: #727878;
   margin-bottom: 1em;
}

.profilepicture {
   position: relative;
   height: 70%;
   width: 70%;
   border-radius: 50%;
   border-color: #aad8d3;
}

.aboutmeheading {
   font-size: 1.3rem;
}

.detailsheading {
   padding-right: 100%;
   font-size: 1.3rem;
}

.detialspara {
   padding-right: 20%;
   line-height: 2.1rem;
}

.skills {
   padding-top: 6%;
}

.skill-row1 {
   width: 50%;
   margin: 4% auto 6.25% auto;
}

.skill-row2 {
   width: 50%;
   margin: 6.255% auto 6.25% auto;
   padding-top: 2vw;
}

.designdevelopmentimage {
   float: left;
   margin-right: 5%;
   width: 30%;
}

.skill-div1-heading {
   font-size: 1.3rem;
   color: #68B0AB;
   text-align: left;
   margin-bottom: 1vw;
}

.skill-div1-para {
   text-align: left;
   text-align: justify;
   text-justify:inter-word;
   line-height: 2rem;
}

.skill-div2-heading {
   font-size: 1.3rem;
   color: #68B0AB;
   text-align: left;
   margin-bottom: 1vw;
}

.skill-div2-para {
   text-align: right;
   text-align: justify;
   text-justify:inter-word;
   line-height: 2rem;
}

.hobiesimage {
   float: right;
   margin-left: 5%;
   width: 25%;
}

.contact-me {
   height: 30em;
   margin-bottom: 20%;
   padding-top: 10%;
}

.getintouchheading {
   margin-bottom: 4%;
}

.getintouchtitle {
   font-size: 1.3rem;
   color: #68B0AB;
}

.btnlink {
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   color: #FFF;
}

.btn-hover {
   width: 12.5rem;
   font-size: 1rem;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 1.5%;
   height: 3.438rem;
   text-align: center;
   border: none;
   background-size: 300% 100%;
   border-radius: 3.125rem;
   transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

.btn-hover:hover {
   background-position: 100% 0;
   transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
   color: #FFF;
}

.btn-hover.color-10 {
   background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
   box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.footer {
   height: 10rem;
   padding-top: 2.88rem;
   background-color: #A7BBC7;
}

.icon {
  width: 2.083vw;
  height: 2.083vw;
  background-size: 100% auto;
  margin: 10px;
}

.footerpara {
   margin-top: 1vw;
   font-size: 0.7rem;
   color: #FFF;
}
