body {
   margin: 0;
   text-align: center;
   overflow-x: hidden;
   font-family: 'Open Sans', sans-serif;
   /* font-family: 'Montserrat', sans-serif; */
   /* font-family: 'Poppins', sans-serif; */
   font-size: 1rem;
   background-color: #ECECEC;
}

a:link, a:visited {
   text-decoration: none;
   cursor: pointer;
   color: #FFF;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* scrollbar */

h2 {
   color: #66BFBF;
   font-size: 2.7rem;
   margin-bottom: 1em;
   font-weight: 700;
}

/* index.html */

/* navbar */

.navbar .navbar-brand {
   font-weight: 600;
   color: #68B0AB;
}

nav .navbar-nav li a {
   color: #4bb09a !important;
}

.nav-item {
   padding: 0 0.8vw;
}

.nav-link {
   font-weight: 400;
}

.container-fluid {
   padding-right: 4vw;
   padding-left: 4vw;
}


/* navbar */

.bg {
   background-image: url("../images/helloworld-virag.png");
   width: 100%;
   min-width: 900px;
   max-height: 40.55vw;
   min-height: 625px;
   object-fit: scale-down;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

@media screen and (max-width:768px) {
   .bg {
       display: none;
   }
}

.bg-name-animation {
   background-color: #E0EBE7;
   height: 200vw;
   overflow-y: scroll;
}

@media (min-width:884px) {
   .bg-name-animation {
      display: none;
   }
}

.first-name {
   position: fixed;
   margin: 55vw 0 0 35vw;
}

.last-name {
   position: fixed;
   margin: 70vw 0 0 30vw;
}

.hrdot {
    border-top: 0.5rem dotted;
    border-color: grey;
    background-color: #FFFFFF;
    width: 4.6rem;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    margin: 0 auto 0 auto;
}


/* Profile */

.parent-div {
   margin-bottom: -9vw;
}

@media screen and (max-width:768px) {
   .parent-div {
       margin-bottom: 18vw;
   }
}

.profile {
   overflow: hidden;
   display: block;
}

.profileheading {
   margin-top: 5vw;
   padding-bottom: 5vw;
   font-size: 3rem;
}

.img-div{
   position: relative;
   top: 4vw;
   left: 13vw;
   width: 30vw;
   z-index: 1;
}

.detials-div {
   position: relative;
   left: 19vw;
   bottom: 25vw;
   width: 70vw;
   background-color: #eaeaea;
}

.about-div {
   position: relative;
   left: 30vw;
   top: 3.5vw;
   width: 35vw;
   padding-bottom: 20vw;
}

@media screen and (max-width:768px) {
   .about-div {
       padding-bottom: 30vw;
   }
}

.about-heading {
   font-size: 1.3rem;
   color: #68B0AB;
   text-align: left;
   margin-bottom: 1vw;
}

.about-para {
   text-align: left;
   text-align: justify;
   text-justify:inter-word;
   line-height: 2rem;
}

.blue-color {
   color: #66bfbf;
}

.resume-btn {
   margin-top: 1.5vw;
   background-color: #66bfbf;
}

.btn-dark:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn-outline {
    color: #fff;
    background-color: #419d9d;
}

.box {
   box-shadow:
   0 2px 2.2px rgba(0, 0, 0, 0.034),
   0 3.125px 5.3px rgba(0, 0, 0, 0.048),
   0 6.25px 10px rgba(0, 0, 0, 0.06),
   0 12.5px 17.9px rgba(0, 0, 0, 0.072),
   0 25px 33.4px rgba(0, 0, 0, 0.086),
   0 50px 80px rgba(0, 0, 0, 0.12);
}

.rounded {
   border-radius: 0.5vw !important;
}

/* Profile */


/* Skills */

.skills {
   padding-top: 4%;
}

.skill-row1 {
   width: 50%;
   margin: 4% auto 6.25% auto;
}

.skill-row2 {
   width: 50%;
   margin: 6.255% auto 6.25% auto;
   padding-top: 2vw;
}

.designdevelopmentimage {
   float: left;
   margin-right: 5%;
   width: 27%;
}

.skill-div1-heading {
   font-size: 1.2rem;
   color: #66BFBF;
   text-align: left;
   margin-bottom: 1vw;
}

.skill-div1-para {
   text-align: left;
   text-align: justify;
   text-justify:inter-word;
   line-height: 2rem;
}

.skill-div2-heading {
   font-size: 1.2rem;
   color: #66BFBF;
   text-align: left;
   margin-bottom: 1vw;
}

.skill-div2-para {
   text-align: right;
   text-align: justify;
   text-justify:inter-word;
   line-height: 2rem;
}

.hobiesimage {
   float: right;
   margin-left: 5%;
   width: 22%;
}

/* Skills */


/* favourite */

.favouriteheading {
   padding-top: 8vw;
   padding-bottom: 2vw;
}

.fav-cust-row {
   padding-top: 5vw;
   padding-bottom: 8vw;
}

.card {
   width: 18rem;
}

@media screen and (max-width:768px) {
   .card {
       margin-bottom: 5vw;
       width: 50vw;
   }
}

.card-img-top {
   height: 11vw;
}

@media screen and (max-width:768px) {
   .card-img-top {
       height: 25vw !important;
   }
}

.fav-cust-img {
   filter: brightness(115%);
}

.song-img {
   filter: brightness(90%);
}

.card-text {
   color: #66BFBF;
   font-weight: 600;
   margin-top: 1vw;
}

.games-img {
   filter: brightness(0.95);
   filter: blur(0.5);
}

.list-group-item {
   border: 0;
}

.quiz-ans {
   border-radius: 500px;
   width: 12vw;
   cursor: pointer;
}

@media screen and (max-width:786px) {
   .quiz-ans {
      width: 38vw;
   }
}

.btn-outline-primary {
    color: #66BFBF;
    border-color: #66BFBF;
}

.btn-outline-primary:hover {
   border-color: #66BFBF;
   background-color: #66BFBF;
}

/* favourite */


.contact-me {
   height: 30em;
   margin-bottom: 20%;
   padding-top: 10%;
}

.getintouchheading {
   margin-bottom: 4%;
}

.getintouchtitle {
   font-size: 1.3rem;
   color: #68B0AB;
}

.btnlink {
   text-decoration: none;
   font-family: 'Poppins', sans-serif;
   color: #FFF;
}

.btn-hover {
   width: 12.5rem;
   font-size: 1rem;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 1.5%;
   height: 3.438rem;
   text-align: center;
   border: none;
   background-size: 300% 100%;
   border-radius: 3.125rem;
   transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
}

.btn-hover:hover {
   background-position: 100% 0;
   transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   -webkit-transition: all .3s ease-in-out;
   color: #FFF;
}

.btn-hover.color-10 {
   background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #ec8c69, #ed6ea0);
   box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.footer {
   height: 10rem;
   padding-top: 2.88rem;
   background-color: #A7BBC7;
}

@media screen and (max-width:768px) {
   .footer-icon {
       width: 7% !important;
       height: 25% !important;
   }
}

.icon {
  width: 2.5vw;
  height: 2.5vw;
  background-size: 100% auto;
  margin: 0 20px 10px ;
}

.footerpara {
   margin-top: 1vw;
   font-size: 0.7rem;
   color: #FFF;
}

#btn-back-to-top-home {
  position: fixed;
  bottom: 3vw;
  right: 1.5vw;
  display: none;
  background-color: #66bfbf70;
}

/* index.html */


/* resume.html */

.btn-floating {
  position: fixed;
  bottom: 1.5vw;
  right: 1.5vw;
  display: none;
  background-color: #66bfbf70;
}

.resume-top {
   background-color: #fff;
   /* width: 78.45vw; */
   /* margin-top: 2.5vw; */
   /* margin-left: 10.5vw; */
   padding-top: 8vw;
   padding-bottom: 4vw;
}

.resume-heading {
   margin-top: -2vw;
   margin-bottom: 1vw;
   font-size: 2.7rem;
   font-weight: 600;
}

.resume-date {
   padding-bottom: 2vw;
}

.resume-hr {
   width: 90%;
   margin-left: 4.2vw;
}

.resume-main-container {
   height: 160vw;
   margin-bottom: 2.3vw;
   margin-top: -5.8vw;
}

.resume-img {
   float: left;
   width: 20vw;
   margin-left: 3vw;
   margin-top: 3.5vw;
}

.info {
   position: relative;
   top: 3.5vw;
   left: 3vw;
   margin-top: 5vw;
}

@media screen and (max-width:768px) {
   .mobile-list-group-item {
       width: 80.5% !important;
   }
}

.list-group-item {
   width: 93.3%;
   height: 3.85rem;
   overflow: hidden;
   padding-top: 1.3vw;
}

@media screen and (max-width:768px) {
   .list-group-item {
       font-size: 1rem;
   }
}

.roundbox {
    border-radius: 7px;
}

.summary {
   width: auto;
   background-color: #fff;
   color: #000;
   /* padding: 8px 12px; */
   padding: 1vw 1.5vw;
   border-left: 4px solid #66bfbf;
   word-wrap: break-word;
   margin-top: 7%;
   margin-left: 2.95vw;
   width: 78.35vw;
}

.resume-section-div {
   width: auto;
   background-color: #fff;
   color: #000;
   /* padding: 8px 12px; */
   padding: 2vw 1.5vw;
   border-left: 4px solid #66bfbf;
   word-wrap: break-word;
   margin-top: 2vw;
   margin-bottom: 2vw;
   margin-left: 2.95vw;
   width: 78.35vw;
}

@media screen and (max-width:768px) {
   .resume-section-div {
      margin-top: 7vw !important;
   }
}

.resume-section-heading {
   font-size: 1.5rem;
   font-weight: 600;
   font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width:768px) {
   .resume-section-heading {
      margin-top: 3vw !important;
      margin-bottom: 7vw !important;
   }
}

.resume-section-para {
   text-align: left;
   text-align: justify;
}

@media screen and (max-width:768px) {
   .resume-section-para {
      margin-top: 7vw !important;
      margin-bottom: 7vw !important;
   }
}

.resume-back-btn {
   margin-top: 1vw;
   margin-left: 1vw;
}

@media screen and (max-width:768px) {
   .back-arrow {
       width: 10% !important;
       padding-left: 3vw !important;
   }
}

.back-btn {
   margin-left: -92vw;
   margin-top: -10vw;
   width: 3vw;
   color: #aad8d3;
   padding: 0;
}

.skill-progress {
   border: 1px solid #DDD;
}

.list-group {
    padding-left: 0;
    margin: 2vw 2vw;
}

.progress {
   height: 1.5vw;
   margin-bottom: 1.2vw;
   overflow: hidden;
   background-color: #f5f5f5;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
   box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-meter > .meter {
   position: relative;
   float: left;
   border-top-width: 0;
   border-style: solid;
   border-color: rgb(160, 160, 160);
}

.meter-no-left {
   border-left-width: 0;
}

.meter-text {
   position: relative;
   top: 2vw;
   font-weight: 700;
   font-size: 0.85rem;
   color: rgb(160, 160, 160);
   text-align: left;
}

@media screen and (max-width:768px) {
   .meter-text {
       top: 6vw;
   }
}

.progress-type {
    padding-left: 1vw;
    text-align: justify;
}

@media screen and (max-width:768px) {
   .progress-type {
      font-size: 0.25rem;
   }
}

.work1 {
   border: 1px solid;
   padding: 2vw 1vw 1vw 1vw;
   text-align: left;
}

@media screen and (max-width:768px) {
   .work1, .work2, .work3 {
      padding-top: 8vw !important;
      padding-bottom: 5vw !important;
   }
}

.section-org {
   display: inline;
}

@media screen and (max-width:768px) {
   .section-org {
      display: block;
   }
}

.dates1 {
   display: inline;
   margin-left: 35vw;
   font-size: 1.2rem;
}

@media screen and (max-width:768px) {
   .dates1{
      font-size: 1rem !important;
   }
   .dates2, .dates3 {
      font-size: 1rem !important;
      margin-left: 35vw !important;
   }
}

.section-location {
   font-size: 0.8rem;
   color: #00000090;
   margin-top: 0.3vw;
}

@media screen and (max-width:768px) {
   .section-location {
      margin-top: 3vw;
   }
}

.work2 {
   border: 1px solid;
   border-top-width: 0;
   padding: 2vw 1vw 1vw 1vw;
   text-align: left;
}

.dates2 {
   display: inline;
   margin-left: 51.1vw;
   font-size: 1.2rem;
}

.work3 {
   border: 1px solid;
   border-top-width: 0;
   padding: 2vw 1vw 1vw 1vw;
   text-align: left;
}

.dates3 {
   display: inline;
   margin-left: 47vw;
   font-size: 1.2rem;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.alignment {
   text-align: left;
}

@media screen and (max-width:768px) {
   .skill-progress {
      padding-bottom: 4vw;
   }
}

/* resume.html */
